page-home {
    ion-slides{
        height: auto;
      }
 .text-black{
     color:!important black;
 }
 .my-slide{
     height: auto;
 }
 .album-slide{
     width:100%;
 }
.judul-berita{
    font-size: .9em;
    white-space: normal !important;
 }
 .waktu-update{
     font-size:.5em;
 }
}
